<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.AdminDao">
	<!--学生的联合查询  -->
	<resultMap type="ssm.entity.Student" id="students">
			<id column="student_id" property="student_id"/>
			<result column="student_name" property="student_name"/>
			<result column="student_ins" property="student_ins"/>
			<result column="student_classid" property="student_classid"/>
			<result column="password" property="password"/>
			<result column="role_id" property="role_id"/>
			<association property="classroom" javaType="ssm.entity.Classroom">
				<id column="class_id" property="class_id"/>
				<result column="class_name" property="class_name"/>
			</association>
			<association property="ins" javaType="ssm.entity.Ins">
				<id column="ins_id" property="ins_id"/>
				<result column="ins_name" property="ins_name"/>
			</association>
	</resultMap>
	<!-- 教师的联合查询 -->
	<resultMap type="ssm.entity.Teacher" id="getteacher">
	    <id property="teacher_id" column="teacher_id"/>
	    <result property="teacher_name" column="teacher_name"/>
	    <result property="insid" column="insid"/>
	    <result property="teacher_subid" column="teacher_subid"/>
	    <result property="password" column="password"/>
	    
	    <association property="ins" javaType="ssm.entity.Ins">
		    <id property="ins_id" column="ins_id"/>
		    <result property="ins_name" column="ins_name"/>
	    </association>
	    <association property="subject" javaType="ssm.entity.Subject">
		    <id property="subject_id" column="subject_id"/>
		    <result property="subject_name" column="subject_name"/>
   		</association>
	</resultMap>
	<!-- 班级课程联合查询 -->
	<resultMap type="ssm.entity.SubClass" id="getSubClass">
		<id property="id" column="id"/>
		<result property="class_id" column="class_id"/>
		<result property="sub_id" column="sub_id"/>
		
		<association property="classroom" javaType="ssm.entity.Classroom">
			<id property="class_id" column="class_id" />
			<result property="class_name" column="class_name"/>
		</association>
			
		<association property="sub" javaType="ssm.entity.Subject">
			<id property="subject_id" column="subject_id"/>
			<result property="subject_name" column="subject_name"/>
		</association>
	</resultMap>
	
	 <!-- class表新增数据（新增班级） -->
     <insert id="addClass" parameterType="ssm.entity.Classroom">
     	insert into class(class_id,class_name)
     	values(#{class_id},#{class_name}) 
     </insert>
     <!-- class表删除数据 （删除班级）-->
      <delete id="delClassByid" parameterType="int">
     	delete from class where class_id=#{id}
     </delete> 
     <!-- class表查询数据（查询班级） -->
     <select id="getClassroom" resultType="ssm.entity.Classroom">
     	select * from class
     </select>
     <!-- class表查询数据(根据ID查询班级) -->
     <select id="getClassroomById" resultType="ssm.entity.Classroom" parameterType="int">
     	select * from class where class_id=#{class_id}
     </select>
     
     <!-- subject表新增数据（新增课程）-->
     <insert id="addSubject" parameterType="ssm.entity.Subject">
     	insert into subject(subject_id,subject_name)
     	values(#{subject_id},#{subject_name})
     </insert>
     <!-- subject表删除数据 （删除课程）-->
     <delete id="delSubjectByid" parameterType="int">
     	delete from subject where subject_id=#{id}
     </delete> 
     <!-- subject表修改数据（修改课程名） -->
     <update id="updateSubject" parameterType="ssm.entity.Subject">
     	update subject
     	set subject_name=#{subject_name}
     	where subject_id=#{subject_id}
     </update>
     <!-- subject表查询数据（查询课程) -->
     <select id="getSubject" resultType="ssm.entity.Subject">
     	select * from subject
     </select>
      <!-- subject表查询数据（根据ID查询课程) -->
     <select id="getSubjectById" resultType="ssm.entity.Subject">
     	select * from subject where subject_id=#{subject_id}
     </select>
     
     <!-- ins表新增数据（新增学院） -->
     <insert id="addIns" parameterType="ssm.entity.Ins">
     	insert into ins(ins_id,ins_name)
     	values(#{ins_id},#{ins_name})
     </insert>
     <!-- ins表删除数据 （删除学院）-->
     <delete id="delInsByid" parameterType="int">
     	delete from ins where ins_id=#{id}
     </delete> 
      <!-- int表修改数据（修改学院名） -->
     <update id="updateIns" parameterType="ssm.entity.Ins">
     	update ins
     	set ins_name=#{ins_name}
     	where ins_id=#{ins_id}
     </update>
     <!-- ins表查询数据（查询学院） -->
     <select id="getIns" resultType="ssm.entity.Ins">
     	select * from ins
     </select>
      <!-- ins表查询数据（根据ID查询学院） -->
     <select id="getInsByID" resultType="ssm.entity.Ins">
     	select * from ins where ins_id=#{ins_id}
     </select>
     
     <!-- questioninfo表新增数据 （新增问题）-->
     <insert id="addQuestion" parameterType="ssm.entity.Question">
     	insert into questioninfo(question,answer_A,answer_B,answer_C,answer_D)
     	values(#{question},#{answer_A},#{answer_B},#{answer_C},#{answer_D})
     </insert>
     <!-- questioninfo表删除数据（删除问题） -->
     <delete id="delQuestionByid" parameterType="int">
     	delete from questioninfo where question_id=#{question_id}
     </delete>
     <!-- questioninfo表修改数据（修改问题） -->
     <update id="updateQuestion" parameterType="ssm.entity.Question">
     	update questioninfo
     	set question=#{question},answer_A=#{answer_A},answer_B=#{answer_B},answer_C=#{answer_C},answer_D=#{answer_D}
     	where question_id=#{question_id}
     </update>
     <!-- questioninfo表查询数据（查询问题） -->
     <select id="getQUestin" resultType="ssm.entity.Question">
     	select * from questioninfo limit 0,10
     </select>
     <!-- questioninfo表查询数据（根据ID查询问题） -->
     <select id="getQUestinByID" resultType="ssm.entity.Question">
     	select * from questioninfo where question_id=#{question_id}
     </select>
     
     <!-- studentinfo表新增数据（插入学生信息） -->
     <insert id="addStudent" parameterType="ssm.entity.Student">
     	insert into studentinfo(student_id,student_name,student_ins,student_classid,password,role_id)
     	values(#{student_id},#{student_name},#{student_ins},#{student_classid},#{password},#{role_id})
     </insert>
     <!-- studentinfo表删除数据（删除学生） -->
     <delete id="delStudentByid" parameterType="int">
     	delete from studentinfo where student_id=#{student_id}
     </delete>
     <!-- studentinfo表修改数据（重置密码） -->
     <update id="updateStuPassByid" parameterType="ssm.entity.Student">
     	update studentinfo
     	set password=#{password}
     	where student_id=#{student_id}
     </update>
     <!-- studentinfo表查看数据（查看学生） -->
     <select id="getStudents" resultMap="students">
		select * from studentinfo,ins,class
		WHERE student_classid=class_id and student_ins=ins_id
     </select>
     <!-- studentinfo表查看数据（根据Id查看学生） -->
     <select id="getStudentById" resultMap="students" parameterType="int">
		select * from studentinfo,ins,class
		WHERE student_classid=class_id and student_ins=ins_id and student_id=#{student_id}
     </select>
     
     <!-- roles表增加数据 （添加角色） -->
     <insert id="addRole" parameterType="ssm.entity.Roles">
			insert into roles(role_id,role_name,describes)
			values(#{role_id},#{role_name},#{describes})
     </insert>
     <!-- roles表删除数据 （删除角色）-->
     <delete id="delRole" parameterType="int">
     		delete from roles where role_id=#{role_id}
     </delete>
     <!-- roles表修改数据 （修改角色） -->
     <update id="updateRole" parameterType="ssm.entity.Roles">
     		update roles
     		set role_name=#{role_name},describes=#{describes}
     		where role_id=#{role_id}
     </update>
     <!-- roles表查询数据 （查询角色）-->
     <select id="getRoles" resultType="ssm.entity.Roles">
     		select * from roles
     </select>
     <!-- roles表查询数据 （根据ID查询角色）-->
     <select id="getRolesById" resultType="ssm.entity.Roles">
     		select * from roles where role_id=#{role_id}
     </select>
     
     <!-- permissions表增加数据（添加菜单权限） -->
     <insert id="addPer">
     	insert into permissions(permission_id,permission_name,url,permission_grade,paretn_num,sort,describes)
     	values(#{permission_id},#{permission_name},#{url},#{permission_grade},#{paretn_num},#{sort},#{describes})
     </insert>
     <!-- permissions表删除数据（删除菜单权限） -->
     <delete id="delPer" parameterType="int">
     	delete from permissions where permission_id=#{permission_id}
     </delete>
     <!-- permissions表修改数据（修改菜单权限） -->
     <update id="updatePer" parameterType="ssm.entity.Permission">
     	update permissions
     	set permission_name=#{permission_name},url=#{url},permission_grade=#{permission_grade},
     		paretn_num=#{paretn_num},sort=#{sort},describes=#{describes}
     	where permission_id=#{permission_id}
     </update>
     <!-- 根据ID查找菜单 -->
      <select id="getpersById"  resultType="ssm.entity.Permission">
      		select * from permissions where permission_id=#{permission_id}
      </select>
      <!-- 根据grade查找出所有的菜单 -->
       <select id="getpersByGrade"  resultType="ssm.entity.Permission">
      		select * from permissions where permission_grade=#{permission_grade}
      </select>
     
     <!-- rolepermissions表增加数据（绑定角色权限） -->
     <insert id="addRolePer" parameterType="ssm.entity.RolePermission">
     	insert into rolepermissions(role_id,per_id)
     	values(#{role_id},#{per_id})
     </insert>
     <!-- rolepermissions表删除数据（删除角色权限） -->
     <delete id="delRolePer" parameterType="int">
     	delete from rolepermissions where id=#{id}
     </delete>
     <!-- rolepermissions表修改数据（修改角色权限） -->
     <update id="updateRolePer" parameterType="ssm.entity.RolePermission">
     	update rolepermissions
     	set role_id=#{role_id},per_id=#{per_id}
     	where id=#{id}
     </update>
     
     <!-- teacher表新增数据（插入教师信息） -->
     <insert id="addTeacher" parameterType="ssm.entity.Teacher">
     	insert into teacher(teacher_id,teacher_name,teacher_insid,teacher_subid,password,role_id)
     	values(#{teacher_id},#{teacher_name},#{teacher_insid},#{teacher_subid},#{password},#{role_id})
     </insert>
     <!-- teacher表删除数据（删除教师） -->
     <delete id="delTeacherByid" parameterType="int">
     	delete from teacher where teacher_id=#{teacher_id}
     </delete>
     <!-- teacher表修改数据（重置密码） -->
     <update id="updateTeacherPassByid" parameterType="ssm.entity.Teacher">
     	update teacher
     	set password=#{password}
     	where teacher_id=#{teacher_id}
     </update>
     <!-- teacher表修改数据（修改信息） -->
     <update id="updateTeacher" parameterType="ssm.entity.Teacher">
     	update teacher
     	set teacher_insid=#{teacher_insid},teacher_subid=#{teacher_subid}
     	where teacher_id=#{teacher_id}
     </update>
     <!-- teacher表查看数据（查看教师） -->
     <select id="getTeachers" resultMap="getteacher">
		select * from teacher,ins,subject
		where teacher_insid=ins.ins_id and teacher_subid=subject_id
     </select>
     <!-- 查询单个教师 -->
     <select id="getTeacherById" resultMap="getteacher" parameterType="int">
     	select * from teacher,ins,subject
		where teacher_insid=ins.ins_id and teacher_subid=subject_id and teacher_id=#{teacher_id}
     </select>
     
     <!-- subclass表增加数据(关联班级与课程） -->
     <insert id="addSubClass" parameterType="ssm.entity.SubClass">
     	insert into subclass(id,class_id,sub_id)
     	values(#{id},#{class_id},#{sub_id})
     </insert>
     <!-- subclass表删除数据 (删除班级与课程的关联)-->
     <delete id="delSubClass" parameterType="int">
     	delete from subclass where id=#{id}
     </delete>
     <!-- subclass表修改数据 (修改班级与课程的关联)-->
     <update id="updateSubClass" parameterType="ssm.entity.SubClass">
     	update subclass
     	set sub_id=#{sub_id}
     	where id=#{id}
     </update>
     <!-- subclass表查询数据 (查询班级与课程的关联)-->
     <select id="getSubClass" resultMap="getSubClass">
     	select * from subclass,subject,class
		WHERE subclass.sub_id=subject.subject_id and subclass.class_id=class.class_id
     </select>
     <!-- subclass表查询数(根据Id查询数据) -->
     <select id="getSubClassById" resultMap="getSubClass" parameterType="int">
     	select * from subclass,subject,class
		WHERE subclass.sub_id=subject.subject_id and subclass.class_id=class.class_id
		and subclass.id=#{id}
     </select>
     
</mapper>